@model IEnumerable<cellphonesweb.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{

    <div class="banner">
        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image: url(/Content/assets/images/Apple-iPhone-15-lineup-hero-geo-230912_inline.jpg.large.jpg)">
                        <div class="banner_category">
                            <a href="danh-muc-san-pham/iphone-1">iphone</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image: url(/Content/assets/images/samsung-galaxy-s24-ultra-grey-thumb-600x600.jpg)">
                        <div class="banner_category">
                            <a href="danh-muc-san-pham/samsung-2">samsung</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image: url(/Content/assets/images/oppo-a78-xanh-thumb-1-600x600.jpg)">
                        <div class="banner_category">
                            <a href="danh-muc-san-pham/oppo-3">oppo</a>
                        </div>
                    </div>
                </div>
                

                @*<div class="col-md-4">
            <div class="banner_item align-items-center" style="background-image:url(images/banner_2.jpg)">
                <div class="banner_category">
                    <a href="categories.html">accessories's</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner_item align-items-center" style="background-image:url(images/banner_3.jpg)">
                <div class="banner_category">
                    <a href="categories.html">men's</a>
                </div>
            </div>
        </div>*@
            </div>
        </div>
    </div>
}